{{define "status-badge"}}
<span class="release-badge {{.StatusClass}}">{{.Status}}</span>
{{end}}

{{define "pod-row"}}
<tr>
  <td><a href="/ui/pods/{{.Namespace}}/{{.Name}}">{{.Name}}</a></td>
  <td>{{.Namespace}}</td>
  <td>{{.Node}}</td>
  <td><span class="release-badge {{.StatusClass}}">{{.Status}}</span></td>
  <td class="mono">{{.IP}}</td>
  <td>{{.Ready}}/{{.Containers}}</td>
  <td>{{.Age}}</td>
</tr>
{{end}}

{{define "node-row"}}
<tr>
  <td><a href="/ui/nodes/{{.Name}}">{{.Name}}</a></td>
  <td><span class="release-badge {{.StatusClass}}">{{.Status}}</span></td>
  <td>{{.CPU}}</td>
  <td>{{.Memory}}</td>
  <td>{{.Pods}}</td>
  <td>{{.Uptime}}</td>
  <td>{{.Architecture}}</td>
</tr>
{{end}}
